<div>
  <h2>Bestehende Termine</h2>
  <p>Du hast an diesem Tag bereits Termine:</p>
  @let appointments = userDates.activeAppointments$ | async; @for (appointment
  of appointments; track $index) { @if (appointment.date === dateTakenString) {
  <div class="single-date-container">
    <app-upcoming-list-element [item]="appointment"></app-upcoming-list-element>
  </div>
  } }
  <div class="button-row">
    <button mat-flat-button (click)="closeDialog()">abbrechen</button
    ><button mat-button (click)="continuePlanning()">fortfahren</button>
  </div>
</div>
