.footer {
  background-color: var(--mat-app-background-color);
  display: flex;
  justify-content: center;
}

.f-inner {
  max-width: 1920px;
  //   width: 100%;
  flex: 1;
  min-height: 72px;
  display: flex;
  justify-content: space-between;
  > div {
    a {
      text-decoration: none;
      color: var(--mat-optgroup-label-text-color);
      p {
        color: var(--mat-optgroup-label-text-color);
      }
      &:hover {
        color: var(--mat-app-text-color);
        p {
          color: var(--mat-app-text-color);
        }
      }
    }
    p {
      margin-top: 64px;
      margin-bottom: 64px;
      color: var(--mat-optgroup-label-text-color);
    }
    &.left {
      margin-left: 80px;
    }
    &.right {
      margin-top: 64px;
      margin-bottom: 32px;
      margin-right: 80px;
    }
  }
}

@media (max-width: 1280px) {
  .f-inner > div.left {
    margin-left: 48px;
  }
  .f-inner > div.right {
    margin-right: 48px;
  }
}

@media (max-width: 900px) {
  .f-inner > div.left {
    margin-left: 24px;
  }
  .f-inner > div.right {
    margin-right: 24px;
  }
}

@media (max-width: 640px) {
  .f-inner > div.left {
    margin-left: 16px;
  }
  .f-inner > div.right {
    margin-right: 16px;
  }
}
