@keyframes enter {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

mat-accordion {
  animation: enter 160ms ease-in-out forwards;
}

mat-expansion-panel,
.mat-expansion-panel:not([class*="mat-elevation-z"]) {
  box-shadow: none;
}

.button-container {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
}

.reserved {
  background: hsl(from var(--mat-snack-bar-button-color) h s l / 30%);
}

.blocked {
  background-color: rgb(240, 240, 240);
  color: grey;
}

.taken {
  background: var(--mat-snack-bar-button-color);
  color: white;
}
