<mat-accordion>
  <mat-expansion-panel
    hideToggle
    *ngFor="let date of userDates.orderedAndValid$ | async"
  >
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{ formatDate(date.date) }}
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="button-container">
      @for (timeslot of date.times; track $index) { @if (timeslot.reserved ||
      timeslot.blocked || timeslot.taken) {
      <button
        mat-flat-button
        [ngClass]="{
          reserved: timeslot.reserved,
          blocked: timeslot.blocked,
          taken: timeslot.taken
        }"
        (click)="editTimeslot(date.date, date, timeslot)"
      >
        {{ timeslot.time }}
      </button>
      } @else {
      <button mat-button (click)="editTimeslot(date.date, date, timeslot)">
        {{ timeslot.time }}</button
      >} }
    </div>
  </mat-expansion-panel>
</mat-accordion>
