<h2 class="teaser-header">Deine Vorteile</h2>
<div class="teaser">
  <div class="card-container">
    <div>
      <mat-card class="teaser-card" appearance="outlined">
        <img
          mat-card-image
          src="assets/img/customerside.png"
          alt="Screenshot: Termin auswählen"
        /><mat-card-header>
          <mat-card-title>Mehr Komfort für deine Kunden</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>
            Biete deinen Kontakten eine einfache Möglichkeit, deine Sprechzeiten
            wahrzunehmen. Sie müssen sich nicht registieren, sondern können
            einfach einen Termin auswählen. Sollte ihnen etwas dazwischen
            kommen, können sie wieder stornieren, sodass die Zeit dir und
            anderen Kunden wieder zur Verfügung steht.
          </p>
        </mat-card-content>
      </mat-card>
    </div>
    <div>
      <mat-card class="teaser-card" appearance="outlined">
        <img
          mat-card-image
          src="assets/img/link.png"
          alt="Screenshot: Link kopieren"
        /><mat-card-header>
          <mat-card-title>Alles an einem Ort</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>
            Behalte die Übersicht und bleibe unabhängig. Mit Cyla kannst du mit
            Partnern oder Kunden aus verschiedenen Bereichen und Organisationen
            nach deinen eigenen Plänen zusammenarbeiten.
          </p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <div class="card-container">
    <div>
      <mat-card class="teaser-card" appearance="outlined">
        <img
          mat-card-image
          src="assets/img/plan.png"
          alt="Screenshot: Plane deine Verfügbarkeiten"
        /><mat-card-header>
          <mat-card-title>Plane deine Verfügbarkeiten</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>
            Lege deine Verfügbarkeiten flexibel und nach deinen Vorstellungen
            fest. Ändere sie nach deinen Bedürfnissen und nutze deine Zeit so
            optimal.
          </p>
        </mat-card-content>
      </mat-card>
    </div>
    <div>
      <mat-card class="teaser-card" appearance="outlined">
        <img
          mat-card-image
          src="assets/img/times.png"
          alt="Screenshot: Zeitfenster festlegen"
        /><mat-card-header>
          <mat-card-title
            >Einzelne Events und wiederkehrende Lösungen</mat-card-title
          >
        </mat-card-header>
        <mat-card-content>
          <p>
            Ob du eine Terminfolge für den Dienstagabend der nächsten Woche
            organisieren möchtest oder Sprechzeiten für jeden
            Mittwochnachmittag, nutze Cyla, um schnell und komfortabel zu
            planen.
          </p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
<app-contact-us></app-contact-us>
<app-ready-to-start></app-ready-to-start>
