.teaser-header {
  margin: 288px 0 0 0;
  text-align: center;
}
.teaser {
  margin-top: 64px;
  margin-bottom: 144px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
  gap: 36px;
  > .card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
    gap: 36px;
    > div {
      position: relative;
    }
  }
}

.teaser-card {
  &:hover {
  }
}
