<div class="container">
  <div class="content">
    <div class="inner">
      <div class="hero">
        <div>
          <div>
            <h1>Überschrift</h1>
            <p class="kicker">Dies ist ein Kicker. Er macht Lust auf mehr.</p>
          </div>
        </div>
        <img
          src="assets/img/test/istockphoto-2164260786-1024x1024.jpg"
          alt=""
        />
      </div>
      <div class="teaser">
        <div class="card-container">
          <div>
            <mat-card class="teaser-card" appearance="outlined">
              <img
                mat-card-image
                src="assets/img/customerside.png"
                alt="Screenshot: Termin auswählen"
              /><mat-card-header>
                <mat-card-title>Mehr Komfort für deine Kunden</mat-card-title>
              </mat-card-header>
              <mat-card-content>
                <p>
                  Biete deinen Kontakten eine einfache Möglichkeit, deine
                  Sprechzeiten wahrzunehmen. Sie müssen sich nicht registieren,
                  sondern können einfach einen Termin auswählen. Sollte ihnen
                  etwas dazwischen kommen, können sie wieder stornieren, sodass
                  die Zeit dir und anderen Kunden wieder zur Verfügung steht.
                </p>
              </mat-card-content>
              <mat-card-actions>
                <button mat-button>MEHR</button>
              </mat-card-actions>
            </mat-card>
          </div>
          <div>
            <mat-card class="teaser-card" appearance="outlined">
              <img
                mat-card-image
                src="assets/img/link.png"
                alt="Screenshot: Link kopieren"
              /><mat-card-header>
                <mat-card-title>Alles an einem Ort</mat-card-title>
              </mat-card-header>
              <mat-card-content>
                <p>
                  The Shiba Inu is the smallest of the six original and distinct
                  spitz breeds of dog from Japan. A small, agile dog that copes
                  very well with mountainous terrain, the Shiba Inu was
                  originally bred for hunting.
                </p>
              </mat-card-content>
              <mat-card-actions>
                <button mat-button>MEHR</button>
              </mat-card-actions>
            </mat-card>
          </div>
        </div>
        <div class="card-container">
          <div>
            <mat-card class="teaser-card" appearance="outlined">
              <img
                mat-card-image
                src="assets/img/plan.png"
                alt="Screenshot: Plane deine Verfügbarkeiten"
              /><mat-card-header>
                <mat-card-title>Plane deine Verfügbarkeiten</mat-card-title>
              </mat-card-header>
              <mat-card-content>
                <p>
                  The Shiba Inu is the smallest of the six original and distinct
                  spitz breeds of dog from Japan. A small, agile dog that copes
                  very well with mountainous terrain, the Shiba Inu was
                  originally bred for hunting.
                </p>
              </mat-card-content>
              <mat-card-actions>
                <button mat-button>MEHR</button>
              </mat-card-actions>
            </mat-card>
          </div>
          <div>
            <mat-card class="teaser-card" appearance="outlined">
              <img
                mat-card-image
                src="assets/img/times.png"
                alt="Screenshot: Zeitfenster festlegen"
              /><mat-card-header>
                <mat-card-title
                  >Einzelne Events und wiederkehrende Lösungen</mat-card-title
                >
              </mat-card-header>
              <mat-card-content>
                <p>
                  The Shiba Inu is the smallest of the six original and distinct
                  spitz breeds of dog from Japan. A small, agile dog that copes
                  very well with mountainous terrain, the Shiba Inu was
                  originally bred for hunting.
                </p>
              </mat-card-content>
              <mat-card-actions>
                <button mat-button>MEHR</button>
              </mat-card-actions>
            </mat-card>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
