.teaser-header {
  margin: 88px 0 0 0;
  text-align: center;
}
.teaser {
  margin-top: 64px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
  gap: 36px;
  > .card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
    gap: 36px;
    > div {
      position: relative;
    }
  }
}

@media (max-width: 900px) {
  .teaser-header {
    margin: 0;
    text-align: center;
  }

  .teaser {
    margin-top: 48px;
    gap: 24px;
    > .card-container {
      gap: 24px;
      > div {
        position: relative;
      }
    }
  }
}

@media (max-width: 640px) {
  .teaser-header {
    text-align: left;
  }
  h2 {
    font-size: 36px;
  }
}
