.duration-setting-container {
  display: flex;
  flex-direction: column;
  margin: 0 12px;
  > div {
    display: flex;
    gap: 48px;
    > div.show-durations {
      > div {
        display: flex;
        flex-direction: column;
        gap: 4px;
        min-width: 340px;
        > div {
          display: flex;
          align-items: center;
          justify-content: space-between;
          > .hover {
            display: none;
            margin-right: 4px;
          }
          &:hover {
            cursor: pointer;
            background-color: var(--mat-option-hover-state-layer-color);
            > .hover {
              display: block;
            }
          }
          > div {
            display: flex;
            align-items: center;
            gap: 12px;
            font-size: 1.2rem;
            padding: 8px;
          }
        }
      }
    }
  }
}
form {
  > div.interval {
    display: inline block;
    > p {
      font-size: 16px;
    }
    > span:not(:nth-child(2)) {
      margin-left: 4px;
      font-weight: 600;
    }

    > div.timeselector {
      margin-top: 4px;
      margin-bottom: 40px;
      display: flex;
      align-items: center;
      gap: 8px;
      > mat-form-field {
        width: 112px;
      }
      > .duration-name {
        width: auto;
      }
      > button {
        margin-left: 16px;
        margin-bottom: 20px;
      }
    }
  }
}
h3 {
  margin: 4px 0;
}
