<div class="container">
  <div class="content">
    <div class="inner">
      <h1>Willkommen {{ user }}</h1>
      <div>
        @let appointments = userDates.activeAppointments$ | async;
        <mat-card appearance="outlined"
          >@if (appointments) {
          <mat-card-header>
            <mat-card-title
              >Deine kommenden Termine</mat-card-title
            ></mat-card-header
          ><mat-card-content>
            @for (appointment of appointments; track $index) { @if ($index <
            (pageIndex + 1) * 3 && $index >= pageIndex * 3) {
            <app-upcoming-list-element
              [item]="appointment"
            ></app-upcoming-list-element>
            } }</mat-card-content
          >
          <mat-card-actions align="end"
            >@if (pageIndex > 0) {
            <button mat-button (click)="setPage('decrement')">vorige</button>}
            @if (appointments.length > (pageIndex + 1) * 3) {
            <button mat-button (click)="setPage('increment')">weitere</button
            >} </mat-card-actions
          >} @else {
          <mat-card-header>
            <mat-card-title
              >Keine kommenden Termine</mat-card-title
            ></mat-card-header
          >
          }
        </mat-card>
        <mat-card appearance="outlined">
          <mat-card-header
            ><mat-card-title>Termin-Details</mat-card-title></mat-card-header
          >
          <mat-card-content><p>keine</p></mat-card-content>
          <mat-card-actions align="end">
            <button mat-button>bearbeiten</button>
          </mat-card-actions>
        </mat-card>
      </div>
      <div class="guiding-text">
        <span>Deine geplanten Verfügbarkeiten</span>
      </div>
      <div class="dates-info-container">
        <app-dates-info></app-dates-info>
      </div>
      <button mat-fab extended [routerLink]="['plan']">
        <mat-icon>edit_calendar</mat-icon>Planen
      </button>
    </div>
  </div>
</div>
