h2 {
  font-weight: 500;
}

.container {
  min-height: calc(100vh - 64px);
  width: 100%;
  display: flex;
  justify-content: center;
}

.content {
  max-width: 1440px;
  margin-left: 80px;
  margin-right: 80px;
  margin-top: 0px;
  flex: 1;
  display: flex;
  justify-content: center;
}

.inner {
  margin-top: 0px;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 80px;
  > div {
    height: 100%;
    flex: 1;
  }
}

@media (max-width: 1024px) {
  .content {
    margin-left: 48px;
    margin-right: 48px;
  }
}

@media (max-width: 864px) {
  .content {
    margin-left: 32px;
    margin-right: 32px;
  }
}

@media (max-width: 680px) {
  .content {
    margin-left: 16px;
    margin-right: 16px;
    .inner {
      h2 {
        font-size: 36px;
      }
    }
  }
}

@media (max-width: 480px) {
  .content {
    margin-left: 4px;
    margin-right: 4px;
    .inner {
      h2 {
        font-size: 32px;
      }
    }
  }
}
