<div class="container">
  <div class="content">
    <div class="inner">
      <app-choose-date
        (newDatepickerEvent)="getTimeslots($event)"
        (newDateValidatorEvent)="checkDateValidity($event)"
      ></app-choose-date>
      @if (dateSelected){
      <app-choose-time
        (timeChosen)="addTime($event)"
        class="choosetime"
      ></app-choose-time>
      @if (scheduledMeeting.data.time) {
      <div>
        Du wünschst einen Termin am {{ scheduledMeeting.data.date }} um
        {{ scheduledMeeting.data.time }}
      </div>
      } }
    </div>
  </div>
</div>
