<div class="container">
  <div class="content">
    <div class="inner">
      <!--  <app-choose-date
        (newDatepickerEvent)="getTimeslots($event)"
        (newDateValidatorEvent)="checkDateValidity($event)"
      ></app-choose-date>
      @if (dateSelected){
      <app-choose-time
        (timeChosen)="addTime($event)"
        class="choosetime"
      ></app-choose-time>
      @if (scheduledMeeting.data.time && scheduledMeeting.data.date) {
      <div>
        Du wünschst einen Termin {{ localDate }} um
        {{ scheduledMeeting.data.time }} Uhr.
      </div>
      } } -->
      <app-formstepper></app-formstepper>
    </div>
  </div>
</div>
