<div class="outer">
  <h2>Verfügbarkeit</h2>
  <div class="single-date-container">
    <span class="date">{{ formatDate(date) }}</span>
    <div>
      <div>
        <span>{{ time.time }} Uhr</span>
        <span>Dauer: {{ time.duration }}</span>
      </div>
      <div>
        <mat-slide-toggle
          [(ngModel)]="slider"
          (ngModelChange)="toggleBlock(time.blocked)"
          ><span class="slider-label"
            >@if (time.blocked) {geblockt} @else {verfügbar}</span
          ></mat-slide-toggle
        >
      </div>
    </div>
  </div>
  <div class="button-row">
    <button mat-flat-button (click)="closeDialog()">schließen</button>
  </div>
</div>
