@if (authService.currentUserSig() === null) {
<div class="container">
  <div class="content">
    <div class="inner">
      <div>
        <h1>Gewinne Zeit</h1>
        <p class="kicker">
          Sprechstunden und Termine zu organisieren verursacht Arbeit, Aufwand
          und beansprucht Zeit. Cyla Scheduling befreit dich davon. Außerdem
          vermeidet es Wartezeiten und ineffiziente Terminfolgen.
        </p>
        <div>
          <button mat-flat-button color="primary" (click)="openSignup()">
            Beginne jetzt</button
          ><a mat-button color="primary" routerLink="learnmore">Erfahre mehr</a>
        </div>
      </div>
    </div>
  </div>
</div>
}
