.container {
  min-height: calc(100vh - 64px);
  width: 100%;
  display: flex;
}

.content {
  max-width: 1920px;

  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.inner {
  margin-left: 80px;
  margin-right: 80px;

  width: 100%;
  display: flex;
  justify-content: center;
  > div {
    margin-top: 30%;
    max-width: 960px;
    display: flex;
    flex-direction: column;
    align-items: center;
    > div {
      margin-top: 32px;
      display: flex;
      gap: 8px;
      > button,
      a {
        margin-top: 12px;
        font-size: 18px;
        padding: 24px;
      }
    }
  }
}

h1 {
  font-size: 64px;
  line-height: 115%;
  letter-spacing: -1.6px;
  text-align: center;
  margin: 0;
  text-wrap: balance;
}

.kicker {
  margin-bottom: 0;
  text-align: center;
  text-wrap: balance;
  font-weight: 500;
  color: var(--mat-optgroup-label-text-color);
  font-size: 20px;
  line-height: 27px;
  max-width: 60ch;
}
