.container {
  min-height: calc(100vh - 64px);
  width: 100%;
  display: flex;
  justify-content: center;
}

.content {
  width: 1920px;
  margin-left: 80px;
  margin-right: 80px;
  display: flex;
  justify-content: center;
}

.inner {
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  > div.headline {
    margin-top: 200px;
    max-width: 960px;
    display: flex;
    flex-direction: column;
    align-items: center;
    > div {
      margin-top: 32px;
      display: flex;
      gap: 8px;
      > button,
      a {
        margin-top: 12px;
        font-size: 18px;
        padding: 24px;
      }
    }
  }
  > div.heropic {
    margin-top: 96px;
    width: 100%;
    height: 800px;
    position: relative;
    overflow: hidden;
    > img {
      border-radius: 24px;
      position: absolute;
      top: 96px;
      left: 300px;

      box-shadow: var(--mat-app-elevation-shadow-level-20);
    }
    > .img1 {
      z-index: 1;
      transform: perspective(65cm) rotateY(20deg) rotateX(15deg) rotateZ(-10deg)
        translate3d(0, 100px, 0);
    }

    > .img2 {
      z-index: 2;
      transform: perspective(65cm) rotateY(20deg) rotateX(15deg) rotateZ(-8deg)
        translate3d(400px, 0, 0);
    }

    > .img3 {
      z-index: 3;
      transform: perspective(65cm) rotateY(20deg) rotateX(15deg) rotateZ(-6deg)
        translate3d(800px, -100px, 0);
    }
  }
}

h1 {
  font-size: 64px;
  line-height: 115%;
  letter-spacing: -1.6px;
  text-align: center;
  margin: 0;
  text-wrap: balance;
}

.kicker {
  margin-bottom: 0;
  text-align: center;
  text-wrap: balance;
  font-weight: 500;
  color: var(--mat-optgroup-label-text-color);
  font-size: 20px;
  line-height: 27px;
  max-width: 60ch;
}
