<div class="container">
  <div class="content">
    <div class="inner">
      <div>
        <h1>Verschwende keine Zeit</h1>
        <p class="kicker">
          Sprechstunden und Termine zu organisieren kann Zeit beanspruchen.
          Besonders ärgerlich ist es, wenn ineffiziente Wartezeiten entstehen
          und Zeitfenster ungenutzt bleiben. Appointr ist deine Lösung.
        </p>
        <div>
          <button mat-flat-button color="primary">Beginne jetzt</button
          ><button mat-button color="primary">Erfahre mehr</button>
        </div>
      </div>
    </div>
  </div>
</div>
