h4 {
  font-size: 24px;
  font-weight: 200;
  margin-bottom: 8px;
  margin-top: 12px;
}

div {
  display: flex;
  align-items: top;

  margin-top: 12px;
}

span.time {
  font-size: 16px;
  font-weight: 600;
  width: 100px;
}
