<div class="container">
  <div class="content">
    <div class="inner">
      <div class="button-container">
        <a mat-button [routerLink]="['']"
          ><mat-icon>chevron_left</mat-icon>zurück zur Startseite</a
        >
        <a mat-button [routerLink]="['/impressum']"
          >zum Impressum<mat-icon>chevron_right</mat-icon></a
        >
      </div>
      <div class="headline">
        <h1>Datenschutzhinweise</h1>
      </div>
      <div id="generator_results">
        <div id="generator_results_content">
          <h2>Verantwortlicher</h2>
          <p>
            Verantwortlicher im Sinne der Datenschutzgesetze, insbesondere der
            EU-Datenschutz-Grundverordnung (DSGVO), ist:
          </p>
          <p class="generator_user_input">Patrick Schlieker</p>
          <h2>Ihre Betroffenenrechte</h2>
          <p>
            Unter den angegebenen Kontaktdaten können Sie gemäß
            EU-Datenschutz-Grundverordnung (DSGVO) jederzeit folgende Rechte
            ausüben:
          </p>
          <ul>
            <li>
              Auskunft über Ihre bei uns gespeicherten Daten und deren
              Verarbeitung (Art. 15 DSGVO),
            </li>
            <li>
              Berichtigung unrichtiger personenbezogener Daten (Art. 16 DSGVO),
            </li>
            <li>Löschung Ihrer bei uns gespeicherten Daten (Art. 17 DSGVO),</li>
            <li>
              Einschränkung der Datenverarbeitung, sofern wir Ihre Daten
              aufgrund gesetzlicher Pflichten noch nicht löschen dürfen (Art. 18
              DSGVO),
            </li>
            <li>
              Widerspruch gegen die Verarbeitung Ihrer Daten bei uns (Art. 21
              DSGVO) und
            </li>
            <li>
              Datenübertragbarkeit, sofern Sie in die Datenverarbeitung
              eingewilligt haben oder einen Vertrag mit uns abgeschlossen haben
              (Art. 20 DSGVO).
            </li>
          </ul>
          <p>
            Sofern Sie uns eine Einwilligung erteilt haben, können Sie diese
            jederzeit mit Wirkung für die Zukunft widerrufen.
          </p>
          <p>
            Sie können sich jederzeit mit einer Beschwerde an eine
            Aufsichtsbehörde wenden, z. B. an die zuständige Aufsichtsbehörde
            des Bundeslands Ihres Wohnsitzes oder an die für uns als
            verantwortliche Stelle zuständige Behörde.
          </p>
          <p>
            Eine Liste der Aufsichtsbehörden (für den nichtöffentlichen Bereich)
            mit Anschrift finden Sie unter:
            <a
              href="https://www.bfdi.bund.de/DE/Infothek/Anschriften_Links/anschriften_links-node.html"
              >https://www.bfdi.bund.de/DE/Infothek/Anschriften_Links/anschriften_links-node.html</a
            >.
          </p>
          <h2>Verarbeitungstätigkeiten</h2>
          <h3>Kontaktaufnahme</h3>
          <p>Art und Zweck der Verarbeitung</p>
          <p>
            Auf unserer Website ist ein Kontaktformular vorhanden, welches für
            die elektronische Kontaktaufnahme genutzt werden kann. Nimmt ein
            Nutzer diese Möglichkeit wahr, so werden die in der Eingabemaske
            eingegeben Daten an uns übermittelt und gespeichert.
          </p>
          <p>
            Eine Kontaktaufnahme ist über die bereitgestellten E-Mail-Adressen
            möglich. In diesem Fall werden die mit der E-Mail übermittelten
            personenbezogenen Daten des Nutzers gespeichert. Hierzu zählen Datum
            und Uhrzeit des E-Mailversands, E-Mailadresse, IP-Adressen sowie
            Informationen zu den an der E-Mail-Kommunikation beteiligten
            Servern.
          </p>
          <p>
            Sie können Sie über die bereitgestellten Telefonnummern Kontakt zu
            uns aufnehmen. Hierbei erheben wir Protokolldaten, die Ihre
            Telefonnummer und die Dauer des Gesprächs beinhalten.
          </p>
          <p>
            Unabhängig von der gewählten Kommunikationsart erheben wir den
            Inhalt Ihrer Anfrage. Ihre Daten werden zum Zweck der individuellen
            Kommunikation mit Ihnen gespeichert.
          </p>
          <h4>Rechtsgrundlage</h4>
          <p>
            Die Verarbeitung der Daten erfolgt auf der Grundlage eines
            berechtigten Interesses (Art. 6 Abs. 1 lit. f DSGVO).
          </p>
          <p>
            Unser berechtigtes Interesse an der Verarbeitung Ihrer Daten ist die
            Ermöglichung einer unkomplizierten Kontaktaufnahme.
          </p>
          <p>
            Sofern Sie mit uns Kontakt aufnehmen, um ein Angebot zu erfragen,
            erfolgt die Verarbeitung der Daten zur Durchführung vorvertraglicher
            Maßnahmen (Art. 6 Abs. 1 lit. b DSGVO).
          </p>
          <h4>Empfänger</h4>
          <p>
            Empfänger der Daten sind ggf. technische Dienstleister, die für den
            Betrieb und die Wartung unserer Webseite als Auftragsverarbeiter
            tätig werden.
          </p>
          <h4>Speicherdauer</h4>
          <p>
            Daten werden spätestens zwei Wochen nach Bearbeitung der
            Kontaktaufnahme gelöscht.
          </p>
          <p>
            Sofern es zu einem Vertragsverhältnis kommt, unterliegen wir den
            gesetzlichen Aufbewahrungsfristen. Diese betragen grundsätzlich 6
            oder 10 Jahre aus Gründen der ordnungsmäßigen Buchführung und
            steuerrechtlichen Anforderungen.
          </p>
          <h4>Bereitstellung vorgeschrieben oder erforderlich</h4>
          <p>
            Die Bereitstellung Ihrer personenbezogenen Daten erfolgt freiwillig.
            Wir können Ihre Anfrage jedoch nur bearbeiten, sofern Sie uns die
            erforderlichen Daten und den Grund der Anfrage mitteilen.
          </p>
          <h4>Widerspruch</h4>
          <p>
            Lesen Sie dazu die Informationen über Ihr Widerspruchsrecht nach
            Art. 21 DSGVO weiter unten.
          </p>
          <h3>Anmeldung und Authentifizierung</h3>
          <h4>Nutzung von Firebase Authentication</h4>

          <p>
            Unsere Website nutzt Google Firebase Authentication, einen Dienst
            der Google Ireland Limited, Gordon House, 4 Barrow Street, D04 E5W5
            Dublin, Irland („Google“). Firebase Authentication ist ein von
            Google bereitgestellter Anmelde- und Authentifizierungsdienst.
            Firebase Authentication speichert die erhobenen Daten, um eine
            Anmeldung an und Nutzung der Website zu ermöglichen. In Bezug auf
            den Auftragsverarbeitungsvertrag im Sinne des Art. 28 DSGVO halten
            wir die strengen gesetzlichen Vorgaben für einen solchen Vertrag mit
            Firebase Authentication ein. Es handelt sich um folgende erhobene
            personenbezogene Daten: Nutzername und E-Mail-Adresse. In diesen
            Verarbeitungsfällen erfolgt die Verarbeitung aufgrund Ihrer
            Einwilligung gemäß Art. 6 Abs. 1 lit. a in Verbindung mit Art. 7
            DSGVO. Die Verarbeitung erfolgt somit mit Rechtsgrund. Weitere
            Informationen zum Datenschutz können den Datenschutzbedingungen
            https://policies.google.com/privacy von Google entnommen werden.
          </p>

          <h3>Nutzung von Google Firebase</h3>
          <h4>Firestore</h4>

          <p>
            Wir nutzen Firestore, um die Daten zu speichern, die bei der Nutzung
            unserer Website anfallen. Ohne die Speicherung der Daten würden
            keine Nutzer- und Profildaten für die Funbtionen der Website zur
            Verfügung stehen. Die Datenspeicherung ist für die
            Funktionsfähigkeit unserer Website somit notwendig. Weitergehend
            dient die Speicherung der Nutzerdaten der Verhinderung von
            Missbrauch durch Dritte. Die Funktionsfähigkeit des Dienstes sowie
            die Sicherheit unserer Website und der benötigten Daten sind
            berechtigte Interessen im Sinne des Art. 6 Abs. 1 lit. f DSGVO. Die
            Verarbeitung in Form der Speicherung erfolgt somit mit Rechtsgrund.
            Die Datenschutzerklärung von Google finden Nutzer/Nutzerinnen unter
            https://www.google.com/policies/privacy/
          </p>

          <h3>E-Mail-Kommunikation</h3>
          <h4>Art und Zweck der Verarbeitung</h4>
          <p>
            Für die Zustellung von Informationen und Benachrichtigungen erheben
            wir personenbezogene Daten, die über eine Eingabemaske an uns
            übermittelt werden.
          </p>
          <p>
            Für eine wirksame Registrierung benötigen wir eine valide
            E-Mail-Adresse. Um zu überprüfen, dass eine Anmeldung tatsächlich
            durch den Inhaber einer E-Mail-Adresse erfolgt, setzen wir das
            Double-Opt-in-Verfahren ein. Hierzu protokollieren wir die Anmeldung
            zur Website, den Versand einer Bestätigungsmail und den Eingang der
            hiermit angeforderten Antwort. Weitere Daten werden nicht erhoben.
          </p>
          <h4>Rechtsgrundlage</h4>
          <p>
            Auf Grundlage Ihrer ausdrücklich erteilten Einwilligung (Art. 6 Abs.
            1 lit. a DSGVO), übersenden wir Ihnen regelmäßig unseren Newsletter
            bzw. vergleichbare Informationen per E-Mail an Ihre angegebene
            E-Mail-Adresse.
          </p>
          <h4>Empfänger</h4>
          <p>
            Wir setzen für den Versand einen Dienstleister ein, der als unser
            Auftragsverarbeiter tätig wird.
          </p>
          <h4>Speicherdauer</h4>
          <p>
            Die Daten werden in diesem Zusammenhang nur verarbeitet, solange die
            entsprechende Einwilligung vorliegt.
          </p>
          <h4>Bereitstellung vorgeschrieben oder erforderlich</h4>
          <p>
            Die Bereitstellung Ihrer personenbezogenen Daten erfolgt freiwillig,
            allein auf Basis Ihrer Einwilligung. Ohne bestehende Einwilligung
            können wir Ihnen keine Benachrichtigungen zusenden.
          </p>
          <h4>Widerruf der Einwilligung</h4>
          <p>
            Die Einwilligung zur Speicherung Ihrer persönlichen Daten und ihrer
            Nutzung können Sie jederzeit mit Wirkung für die Zukunft widerrufen.
            Die Abmeldung kann über die Kontoeinstellungen erfolgen oder über
            die in dieser Datenschutzerklärung aufgeführten Kontaktinformationen
            beantragt werden.
          </p>
          <h2>Cookies</h2>
          <p>
            Ein Cookie ist ein kleiner Datensatz, der beim Besuch einer Website
            erstellt und auf dem System Websitebesuchers zwischengespeichert
            wird. Wird der Server dieser Website erneut vom Nutzer der Website
            aufgerufen, sendet der Browser des Nutzers der Website das zuvor
            empfangenen Cookie wieder zurück an den Server. Der Server kann die
            durch dieses Verfahren erhaltenen Informationen auswerten. Durch
            Cookies kann insbesondere das Navigieren auf einer Website
            erleichtert werden.
          </p>
          <p>
            Ausführliche Informationen zum Thema Cookies, und welche Cookies auf
            dieser Website zu welchem Zweck im Einsatz sind, können Sie
            jederzeit in den Cookie-Einstellungen aufrufen.
          </p>
          <h4>Löschen von Cookies</h4>
          <p>
            Sie können einzelne Cookies oder den gesamten Cookie-Bestand
            löschen. Darüber hinaus erhalten Sie Informationen und Anleitungen,
            wie diese Cookies gelöscht oder deren Speicherung vorab blockiert
            werden können. Je nach Anbieter Ihres Browsers finden Sie die
            notwendigen Informationen unter den nachfolgenden Links:
          </p>
          <ul>
            <li>
              Mozilla Firefox:
              <a
                href="https://support.mozilla.org/de/kb/cookies-loeschen-daten-von-websites-entfernen"
                >https://support.mozilla.org/de/kb/cookies-loeschen-daten-von-websites-entfernen</a
              >
            </li>
            <li>
              Microsoft Edge:
              <a
                href="https://support.microsoft.com/de-de/windows/verwalten-von-cookies-in-microsoft-edge-anzeigen-zulassen-blockieren-l%C3%B6schen-und-verwenden-168dab11-0753-043d-7c16-ede5947fc64d"
                >https://support.microsoft.com/de-de/windows/verwalten-von-cookies-in-microsoft-edge-anzeigen-zulassen-blockieren-l%C3%B6schen-und-verwenden-168dab11-0753-043d-7c16-ede5947fc64d</a
              >
            </li>
            <li>
              Google Chrome:
              <a href="https://support.google.com/accounts/answer/61416?hl=de"
                >https://support.google.com/accounts/answer/61416?hl=de</a
              >
            </li>
            <li>
              Opera:
              <a href="http://www.opera.com/de/help"
                >http://www.opera.com/de/help</a
              >
            </li>
            <li>
              Safari:
              <a
                href="https://support.apple.com/kb/PH17191?locale=de_DE&amp;viewlocale=de_DE"
                >https://support.apple.com/kb/PH17191?locale=de_DE&amp;viewlocale=de_DE</a
              >
            </li>
          </ul>
          <p>
            Zusätzlich können Sie standardmäßig das Laden sog. Scripts
            verhindern. NoScript erlaubt das Ausführen von JavaScript, Java und
            anderen Plugins nur bei vertrauenswürdigen Domains Ihrer Wahl.
          </p>
          <p>
            Informationen und Anleitungen, wie Sie diese Funktion bearbeiten
            können, erhalten Sie über den Anbieter Ihres Browsers (z.B. für
            Mozilla Firefox:
            <a href="https://addons.mozilla.org/de/firefox/addon/noscript/"
              >https://addons.mozilla.org/de/firefox/addon/noscript/</a
            >).
          </p>
          <h3>Technisch notwendige Cookies</h3>
          <h4>Art und Zweck der Verarbeitung</h4>
          <p>
            Wir setzen Cookies ein, um unsere Website nutzerfreundlicher zu
            gestalten. Einige Elemente unserer Website erfordern es, dass der
            aufrufende Browser auch nach einem Seitenwechsel identifiziert
            werden kann.
          </p>
          <p>
            Der Zweck der Verwendung technisch notwendiger Cookies ist, die
            Nutzung von Websites für die Nutzer zu vereinfachen. Einige
            Funktionen unserer Website können ohne den Einsatz von Cookies nicht
            angeboten werden. Für diese ist es erforderlich, dass der Browser
            auch nach einem Seitenwechsel wiedererkannt wird.
          </p>
          <p>Für folgende Anwendungen benötigen wir Cookies:</p>
          <p>
            Eine Übersicht finden über die eingesetzten Cookies finden Sie in
            unserem Cookie-Consent-Tool.
          </p>
          <h4>Rechtsgrundlage und berechtigtes Interesse</h4>
          <p>
            Die Datenverarbeitung erfolgt insoweit allein auf Basis unseres
            berechtigten Interesses an einer nutzerfreundlichen Gestaltung
            unserer Website und an der Dokumentation der Einwilligung gem. Art.
            6 Abs. 1 lit. f DSGVO in Verbindung mit einer Abwägung nach §25 Abs.
            2 TDDDG.
          </p>
          <h4>Empfänger</h4>
          <p>
            Empfänger der Daten sind ggf. technische Dienstleister, die für den
            Betrieb und die Wartung unserer Website als Auftragsverarbeiter
            tätig werden.
          </p>
          <h4>Speicherdauer</h4>
          <p>
            Die jeweilige Speicherdauer der Cookies entnehmen Sie bitte dem
            Cookie-Consent-Tool.
          </p>
          <h4>Bereitstellung vorgeschrieben oder erforderlich</h4>
          <p>
            Die Bereitstellung der vorgenannten personenbezogenen Daten ist
            weder gesetzlich noch vertraglich vorgeschrieben. Ohne diese Daten
            sind jedoch der Dienst und die Funktionsfähigkeit unserer Website
            nicht gewährleistet. Zudem können einzelne Dienste und Services
            nicht verfügbar oder eingeschränkt sein.
          </p>
          <h4>Widerspruch</h4>
          <p>
            Lesen Sie dazu die Informationen über Ihr Widerspruchsrecht nach
            Art. 21 DSGVO weiter unten.
          </p>
          <h2>Information über Ihr Widerspruchsrecht nach Art. 21 DSGVO</h2>
          <h3>Einzelfallbezogenes Widerspruchsrecht</h3>
          <p>
            Sie haben das Recht, aus Gründen, die sich aus Ihrer besonderen
            Situation ergeben, jederzeit gegen die Verarbeitung Sie betreffender
            personenbezogener Daten, die aufgrund Art. 6 Abs. 1 lit. f DSGVO
            (Datenverarbeitung auf der Grundlage einer Interessenabwägung)
            erfolgt, Widerspruch einzulegen; dies gilt auch für ein auf diese
            Bestimmung gestütztes Profiling im Sinne von Art. 4 Nr. 4 DSGVO.
          </p>
          <p>
            Legen Sie Widerspruch ein, werden wir Ihre personenbezogenen Daten
            nicht mehr verarbeiten, es sei denn, wir können zwingende
            schutzwürdige Gründe für die Verarbeitung nachweisen, die Ihre
            Interessen, Rechte und Freiheiten überwiegen, oder die Verarbeitung
            dient der Geltendmachung, Ausübung oder Verteidigung von
            Rechtsansprüchen.
          </p>
          <h3>Empfänger eines Widerspruchs</h3>
          <p class="generator_user_input">
            Patrick Schlieker<br />
            Stoeckhardstr. 20<br />
            20535 Hamburg
          </p>
          <h2>Änderung unserer Datenschutzerklärung</h2>
          <p>
            Wir behalten uns vor, diese Datenschutzerklärung anzupassen, damit
            sie stets den aktuellen rechtlichen Anforderungen entspricht oder um
            Änderungen unserer Leistungen in der Datenschutzerklärung
            umzusetzen, z.B. bei der Einführung neuer Services. Für Ihren
            erneuten Besuch gilt dann die neue Datenschutzerklärung.
          </p>
          <h2>Fragen zum Datenschutz</h2>
          <p>
            Wenn Sie Fragen zum Datenschutz haben, schreiben Sie uns bitte eine
            E-Mail an den oben genannten Verantwortlichen.
          </p>
          <h2>Urheberrechtliche Hinweise</h2>
          <p>
            <em
              >Diese Datenschutzerklärung wurde mit Hilfe der activeMind AG
              erstellt – den Experten für
              <a
                href="https://www.activemind.de/datenschutz/datenschutzbeauftragter/"
                target="_blank"
                rel="noopener dofollow"
                >externe Datenschutzbeauftragte</a
              >
              (Version #2024-10-25).</em
            >
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
