form {
  display: flex;
  flex-direction: column;
  > .name-wrapper {
    display: flex;
    gap: 12px;
  }
}

@media (max-width: 580px) {
  form {
    .mat-mdc-form-field {
      width: 100%;
    }
    > .name-wrapper {
      display: block;
    }
  }
}
