<form action="" [formGroup]="formData">
  <div class="name-wrapper">
    <mat-form-field>
      <mat-label>Vorname</mat-label>
      <input
        matInput
        placeholder="Vorname"
        [formControl]="formData.controls.firstname"
        (blur)="updateErrorMessage('firstname')"
        (change)="validateForm()"
        autocomplete="given-name"
        required
      />
      @if (formData.controls.firstname.invalid) {
      <mat-error>{{ errorMessage.firstname }}</mat-error>
      } </mat-form-field
    ><mat-form-field>
      <mat-label>Nachname</mat-label>
      <input
        matInput
        placeholder="Nachname"
        [formControl]="formData.controls.lastname"
        (blur)="updateErrorMessage('lastname')"
        (change)="validateForm()"
        autocomplete="family-name"
        required
      />
      @if (formData.controls.lastname.invalid) {
      <mat-error>{{ errorMessage.lastname }}</mat-error>
      }
    </mat-form-field>
  </div>

  <mat-form-field>
    <mat-label>E-Mail-Adresse</mat-label>
    <input
      matInput
      placeholder="me@example.com"
      [formControl]="formData.controls.email"
      (blur)="updateErrorMessage('email')"
      (change)="validateForm()"
      autocomplete="email"
      required
    />
    @if (formData.controls.email.invalid) {
    <mat-error>{{ errorMessage.email }}</mat-error>
    }
  </mat-form-field>
</form>
