@keyframes fade-in {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.md-wrapper {
  margin-top: 24px;
  display: flex;
  animation-name: fade-in;
  animation-duration: 160ms;
  animation-timing-function: ease-in-out;

  > div {
    height: 480px;
    width: 420px;

    border-radius: 24px;
    background-color: var(
      --mat-toolbar-container-background-color,
      var(--mat-app-surface)
    );
  }
}

.marked-date .mat-calendar-body-cell-content {
  background: hsl(from var(--mat-sys-primary) h s l / 10%);
  border-radius: 100%;
}

.planned-date .mat-calendar-body-cell-content {
  background-color: hsl(
    from var(--mat-form-field-error-text-color, var(--mat-app-error)) h s l /
      30%
  );
  border-radius: 100%;
}

.planned-allowed .mat-calendar-body-cell-content {
  background-color: hsl(from darkgrey h s l / 30%);
  border-radius: 100%;
}

.taken-date .mat-calendar-body-cell-content {
  background: var(--mat-form-field-error-text-color, var(--mat-app-error));
  color: var(--mat-app-background-color);
  font-weight: 600;
  border-radius: 100%;
}

@media (max-width: 450px) {
  .md-wrapper {
    margin-top: 16px;
    width: 100%;

    > div {
      aspect-ratio: 48 / 42;
      height: auto;
      width: 100%;
    }
  }
}
