<div class="container">
  <div class="content">
    <div class="inner" *ngIf="username$ | async; let user">
      <h1>Willkommen {{ user }}</h1>
      <div>
        <mat-card appearance="outlined">
          <mat-card-header
            ><mat-card-title
              >Deine kommenden Termine</mat-card-title
            ></mat-card-header
          >
          <mat-card-content><p>keine</p></mat-card-content>
          <mat-card-actions align="end">
            <button mat-button>weitere</button>
          </mat-card-actions>
        </mat-card>
        <mat-card appearance="outlined">
          <mat-card-header
            ><mat-card-title>Termin-Details</mat-card-title></mat-card-header
          >
          <mat-card-content><p>keine</p></mat-card-content>
          <mat-card-actions align="end">
            <button mat-button>bearbeiten</button>
          </mat-card-actions>
        </mat-card>
      </div>
      <div class="guiding-text">
        <span>Deine Planung</span>@if (activeMode() === 0) {<button
          mat-flat-button
          color="primary"
        >
          Info</button
        >} @else {<button mat-stroked-button (click)="setActiveMode(0)">
          Info</button
        >} @if (activeMode() === 1) {<button mat-flat-button color="primary">
          Tage auswählen</button
        >} @else {<button mat-stroked-button (click)="setActiveMode(1)">
          Tage auswählen</button
        >} @if (activeMode() === 2) {<button mat-flat-button color="primary">
          Zeiten bearbeiten</button
        >} @else {<button mat-stroked-button (click)="setActiveMode(2)">
          Zeiten bearbeiten</button
        >}
      </div>
      <div class="month-card-container">
        @for (month of monthsToDisplay; track $index) {
        <div>
          <app-month-display [inputMonth]="month"></app-month-display
          ><button
            mat-fab
            color="primary"
            (click)="addMonth()"
            aria-label="button with an add icon"
          >
            <mat-icon>add</mat-icon>
          </button>
        </div>
        }
      </div>
    </div>
  </div>
</div>
