<div class="container">
  <div class="content">
    <div class="inner">
      <h2>Deine Planung</h2>
      <mat-tab-group
        [selectedIndex]="activeMode()"
        (selectedTabChange)="tabChanged($event)"
      >
        <mat-tab label="Termindauer festlegen">
          <div>
            <mat-card appearance="outlined">
              <mat-card-header
                ><mat-card-title>Termindauer</mat-card-title></mat-card-header
              >
              <mat-card-content
                ><p>
                  Lege die Dauer deiner einzelnen Termine fest.
                </p></mat-card-content
              >
              <mat-card-actions align="end">
                <button mat-button (click)="setActiveMode(activeMode() + 1)">
                  weiter
                </button>
              </mat-card-actions>
            </mat-card>
          </div>
        </mat-tab>
        <mat-tab label="Tage auswählen">
          <div>
            <mat-card appearance="outlined">
              <mat-card-header
                ><mat-card-title
                  >Verfügbare Tage</mat-card-title
                ></mat-card-header
              >
              <mat-card-content
                ><p>
                  Wähle Tage aus, an denen du Termine anbieten willst.
                </p></mat-card-content
              >
              <mat-card-actions align="end">
                <button mat-button (click)="setActiveMode(activeMode() - 1)">
                  zurück
                </button>
                <button mat-button (click)="setActiveMode(activeMode() + 1)">
                  weiter
                </button>
              </mat-card-actions>
            </mat-card>
          </div>
        </mat-tab>
        <mat-tab label="Zeiten bearbeiten">
          <div>
            <mat-card appearance="outlined">
              <mat-card-header
                ><mat-card-title>Zeitfenster</mat-card-title></mat-card-header
              >
              <mat-card-content
                ><p>
                  Wähle Zeiten aus, die an den jeweiligen Tagen für Termine zur
                  Verfügung stehen sollen.
                </p></mat-card-content
              >
              <mat-card-actions align="end">
                <button mat-button (click)="setActiveMode(activeMode() - 1)">
                  zurück
                </button>
              </mat-card-actions>
            </mat-card>
          </div>
        </mat-tab>
      </mat-tab-group>
      @if (activeMode() === 0) { Select Duration! } @if (activeMode() === 1) {
      <div class="month-card-container">
        @for (month of monthsToDisplay; track $index) {
        <div>
          <app-month-display [inputMonth]="month"></app-month-display
          ><button
            mat-fab
            (click)="addMonth()"
            aria-label="button with an add icon"
          >
            <mat-icon>add</mat-icon>
          </button>
        </div>
        }
      </div>
      } @if (activeMode() === 2) {
      <div class="timeslot-outer">
        <div class="timeslot-card-container">
          @for (month of monthsToDisplay; track $index) {
          <div>
            <app-choose-timeslots [inputMonth]="month"></app-choose-timeslots>
          </div>
          }
        </div>
        <div class="controls-container">
          <div>
            <button mat-stroked-button (click)="toggleAll('on')">
              Alle auswählen
            </button>
          </div>
          <div class="weekday-row">
            <span>Nach Wochentag auswählen</span>
            <div>
              @for (day of dayString; track day) {
              <button
                mat-flat-button
                *ngIf="dayToggledOn[day[0]] === true"
                (click)="toggleWeekday(day[0])"
                color="primary"
              >
                {{ day[1] }}
              </button>
              <button
                mat-stroked-button
                *ngIf="dayToggledOn[day[0]] === false"
                (click)="toggleWeekday(day[0])"
              >
                {{ day[1] }}</button
              >}
            </div>
          </div>
          <div class="edit-row">
            <button mat-fab extended (click)="openEditTimeslots()">
              <mat-icon>edit</mat-icon>bearbeiten
            </button>
            <button mat-button (click)="toggleAll('off')">
              Auswahl löschen
            </button>
          </div>
        </div>
      </div>
      }
    </div>
  </div>
</div>
