@use "@angular/material" as mat;

:root {
  --mat-dialog-container-max-width: 100%;
}

// Customize the entire app. Change :root to your selector if you want to scope the styles.

.container {
  min-height: calc(100vh - 64px);
  width: 100%;
  display: flex;
  justify-content: center;
}

.content {
  max-width: 1440px;
  margin-left: 80px;
  margin-right: 80px;
  margin-top: 80px;
  flex: 1;
  display: flex;
  justify-content: center;
}

.inner {
  flex: 1;
  @include mat.card-overrides(
    (
      outline-width: 0,
    )
  );
  @include mat.tabs-overrides(
    (
      active-indicator-height: 4px,
    )
  );
  mat-card {
    margin: 36px 0px;
  }

  .guiding-text {
    display: flex;
    align-items: center;
    margin-top: 36px;

    gap: 12px;
    > span {
      font-size: 18px;
      font-weight: 600;
    }
    mat-divider {
      margin-inline: 8px;
      height: 48px;
    }
  }

  .dates-info-container {
    display: flex;
    flex-direction: column;
    margin-top: 44px;
  }

  .month-card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    > div:not(:last-child) {
      > button {
        display: none;
      }
    }
    > div:last-child {
      position: relative;
      > button {
        position: absolute;
        bottom: 4px;
        right: -60px;
      }
    }
  }

  .timeslot-outer {
    display: flex;
    gap: 48px;

    .timeslot-card-container {
      display: flex;
      flex-direction: column;
    }

    @keyframes controls {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }

    .controls-container {
      margin-top: 24px;
      display: flex;
      flex-direction: column;
      animation: controls 160ms ease-in-out forwards;

      > div.weekday-row {
        margin-top: 24px;
        > div {
          margin-top: 12px;
          display: flex;
          gap: 4px;
        }
      }
      > div.edit-row {
        margin-top: 24px;
        display: flex;
        align-items: center;
        gap: 16px;
        > button:first-child {
          font-size: 16px;
          font-weight: 700;
        }
      }
    }
  }
}

.cdk-overlay-pane,
.mat-mdc-dialog-panel {
  max-width: 100%;
}

#cdk-overlay-0 {
  max-width: 100%;
}
