.container {
  min-height: calc(100vh - 64px);
  width: 100%;
  display: flex;
}

.content {
  max-width: 1920px;
  display: flex;
  flex: 1;
}

.inner {
  margin-left: 80px;
  margin-right: 80px;
  margin-top: 80px;
  width: 100%;

  > div {
    width: 100%;
    display: flex;

    gap: 24px;
    > mat-card:first-child {
      min-width: 450px;
    }
  }
}
