<div class="container">
  <div class="content">
    <div class="inner" *ngIf="username$ | async; let user">
      <h1>Willkommen {{ user }}</h1>
      <div>
        <mat-card appearance="outlined">
          <mat-card-header
            ><mat-card-title
              >Deine kommenden Termine</mat-card-title
            ></mat-card-header
          >
          <mat-card-content><p>keine</p></mat-card-content>
          <mat-card-actions align="end">
            <button mat-button>weitere</button>
          </mat-card-actions>
        </mat-card>
        <mat-card appearance="outlined">
          <mat-card-header
            ><mat-card-title>Termin-Details</mat-card-title></mat-card-header
          >
          <mat-card-content><p>keine</p></mat-card-content>
          <mat-card-actions align="end">
            <button mat-button>bearbeiten</button>
          </mat-card-actions>
        </mat-card>
      </div>
      <div class="guiding-text">
        <span>Deine bisherige Planung</span
        ><button mat-stroked-button>anzeigen</button>
      </div>
      <div class="month-card-container">
        @for (month of monthsToDisplay; track $index) {
        <div>
          <app-month-display [inputMonth]="month"></app-month-display
          ><button mat-fab extended color="primary" (click)="addMonth()">
            +
          </button>
        </div>
        }
      </div>
    </div>
  </div>
</div>
