@keyframes fade-in {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.md-wrapper {
  margin-top: 24px;
  display: flex;
  animation-name: fade-in;
  animation-duration: 160ms;
  animation-timing-function: ease-in-out;

  > div {
    height: 480px;
    width: 420px;

    border-radius: 24px;
    background-color: var(
      --mat-toolbar-container-background-color,
      var(--mat-app-surface)
    );
  }
}

.highlight-date .mat-calendar-body-cell-content {
  /*background: rgba(0, 255, 115, 0.7);*/
  background: hsl(from var(--mat-snack-bar-button-color) h s l / 50%);
  border-radius: 100%;
}

.warning-date .mat-calendar-body-cell-content {
  background: rgba(255, 68, 0, 0.7);
  // background: hsl(from var(--mat-snack-bar-button-color) h s l / 50%);
  border-radius: 100%;
}
