.md-wrapper {
  margin-top: 24px;
  display: flex;
  > div {
    height: 480px;
    width: 420px;

    border-radius: 24px;
    background-color: var(
      --mat-toolbar-container-background-color,
      var(--mat-app-surface)
    );
  }
}
