.md-wrapper {
  margin-top: 24px;
  display: flex;
  > div {
    height: 480px;
    width: 420px;

    border-radius: 24px;
    background-color: var(
      --mat-toolbar-container-background-color,
      var(--mat-app-surface)
    );
  }
}

.highlight-date .mat-calendar-body-cell-content {
  /*background: rgba(0, 255, 115, 0.7);*/
  background: hsl(from var(--mat-snack-bar-button-color) h s l / 30%);
  border-radius: 100%;
}
