@use "@angular/material" as mat;

div.previous-periods {
  margin: 12px -24px;
  padding: 12px 0;
  background-color: var(--mdc-fab-small-container-color);

  > #periods-expansion-panel mat-expansion-panel,
  .mat-expansion-panel:not([class*="mat-elevation-z"]) {
    box-shadow: none;
  }

  > #periods-expansion-panel {
    > mat-expansion-panel-header {
      margin: 0;
      padding: 0 24px;
      border-radius: 0;
      border: none;
    }
    div > div.mat-expansion-panel-body {
      margin: 0;
      padding: 0 24px 16px;
    }
    .expansion-element-container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      // margin: 0 24px;
      > button {
        background-color: transparent;
        border: none;
        padding: 0;
        cursor: pointer;
      }
    }
  }

  @include mat.expansion-overrides(
    (
      container-background-color: transparent,
      container-shape: 0,
    )
  );
}

.dialog-content {
  margin-bottom: 48px;
  overflow: hidden;

  > form {
    margin-top: 24px;
    > div.interval {
      display: inline block;
      > p {
        font-size: 16px;
      }
      > span:not(:nth-child(2)) {
        margin-left: 4px;
        font-weight: 600;
      }

      > div.timeselector {
        margin-top: 4px;
        margin-bottom: 40px;
        display: flex;
        gap: 8px;
        > mat-form-field {
          width: 112px;
        }
      }
    }
    div.period {
      display: flex;
      flex-direction: column;
      > p {
        font-size: 16px;
        line-break: auto;
        max-width: 390px;
        overflow: hidden;
      }
      > div.horizontal {
        display: flex;
        gap: 24px;
        overflow: hidden;

        > div {
          display: inline block;
          > span:nth-child(2) {
            margin-left: 4px;
            font-weight: 600;
          }

          > div.timeselector {
            margin-top: 4px;
            margin-bottom: 40px;
            display: flex;
            gap: 8px;

            > mat-form-field {
              width: 112px;
            }
          }
          > div.marginR {
            margin-right: 24px;
          }
        }
      }
    }
  }

  div.starting-times {
    display: flex;
    flex-direction: column;
    max-width: 390px;
    > p {
      font-size: 16px;
    }
    div.timeslot-container {
      display: flex;
      flex-wrap: wrap;
      gap: 8px;
    }
    div.add-button-container {
      margin: 12px 0;
      position: relative;
      > button.add-button {
        float: left;
      }
    }
  }
}
