<h2 mat-dialog-title>Zeiten bearbeiten</h2>
<mat-dialog-content>
  <div class="dialog-content">
    <form [formGroup]="editTimeslotForm">
      <div class="interval">
        <p>Wähle die Dauer der einzelnen Termine.</p>
        <span class="byline">Termindauer:</span>
        @if (editTimeslotForm.controls.intervalHours.valid &&
        editTimeslotForm.controls.intervalMinutes.valid) {<span
          *ngIf="
            getValueToDisplay(
              editTimeslotForm.controls.intervalHours.value?.timevalue
            ) > 0 &&
            getValueToDisplay(
              editTimeslotForm.controls.intervalHours.value?.timevalue
            ) < 2
          "
          >{{
            editTimeslotForm.controls.intervalHours.value?.timevalue
          }}
          Stunde </span
        ><span
          *ngIf="
            getValueToDisplay(
              editTimeslotForm.controls.intervalHours.value?.timevalue
            ) > 0 &&
            getValueToDisplay(
              editTimeslotForm.controls.intervalHours.value?.timevalue
            ) < 2 &&
            getValueToDisplay(
              editTimeslotForm.controls.intervalMinutes.value?.timevalue
            ) > 0
          "
          >und </span
        ><span
          *ngIf="
            getValueToDisplay(
              editTimeslotForm.controls.intervalHours.value?.timevalue
            ) > 1
          "
          >{{
            editTimeslotForm.controls.intervalHours.value?.timevalue
          }}
          Stunden </span
        ><span
          *ngIf="
            getValueToDisplay(
              editTimeslotForm.controls.intervalHours.value?.timevalue
            ) > 1 &&
            getValueToDisplay(
              editTimeslotForm.controls.intervalMinutes.value?.timevalue
            ) > 0
          "
          >und </span
        ><span
          *ngIf="
            getValueToDisplay(
              editTimeslotForm.controls.intervalMinutes.value?.timevalue
            ) > 0 &&
            getValueToDisplay(
              editTimeslotForm.controls.intervalMinutes.value?.timevalue
            ) < 2
          "
        >
          {{ editTimeslotForm.controls.intervalMinutes.value?.timevalue }}
          Minute</span
        ><span
          *ngIf="
            getValueToDisplay(
              editTimeslotForm.controls.intervalMinutes.value?.timevalue
            ) > 1
          "
        >
          {{ editTimeslotForm.controls.intervalMinutes.value?.timevalue }}
          Minuten</span
        >}
        <div class="timeselector">
          <mat-form-field>
            <mat-label>Std.</mat-label>
            <mat-select [formControl]="intervalHours" required>
              <mat-option>--</mat-option>
              @for (hour of hours; track hour) {
              <mat-option [value]="hour">{{ hour.timevalue }}</mat-option>
              }
            </mat-select>
            @if (intervalHours.hasError('required')) {
            <mat-error>Bitte Termindauer auswählen</mat-error>
            }
          </mat-form-field>
          <mat-form-field>
            <mat-label>Min.</mat-label>
            <mat-select [formControl]="intervalMinutes" required>
              <mat-option>--</mat-option>
              @for (minute of minutes; track minute) {
              <mat-option [value]="minute">{{ minute.timevalue }}</mat-option>
              }
            </mat-select>
            @if (intervalMinutes.hasError('required')) {
            <mat-error>Bitte Termindauer auswählen</mat-error>
            } @if (intervalMinutes.hasError('sum is zero')) {
            <mat-error>Termindauer darf nicht null sein</mat-error>
            }
          </mat-form-field>
        </div>
      </div>
      <div class="period">
        <p
          [@addText]="
            editTimeslotForm.controls.intervalHours.valid &&
            editTimeslotForm.controls.intervalMinutes.valid
          "
          *ngIf="
            editTimeslotForm.controls.intervalHours.valid &&
            editTimeslotForm.controls.intervalMinutes.valid
          "
        >
          Wähle das Zeitfenster, in dem du Termine anbieten möchtest. Du kannst
          am selben Tag mehrere Abschnitte wählen.
        </p>
        <div
          class="horizontal"
          [@addSelection]="
            editTimeslotForm.controls.intervalHours.valid &&
            editTimeslotForm.controls.intervalMinutes.valid
          "
          (@addSelection.start)="animationEnded = false"
          (@addSelection.done)="animationEnded = true"
          *ngIf="
            editTimeslotForm.controls.intervalHours.valid &&
            editTimeslotForm.controls.intervalMinutes.valid
          "
        >
          <div class="beginn">
            <span>Anfangszeit:</span>
            @if (editTimeslotForm.controls.startHours.valid &&
            editTimeslotForm.controls.startMinutes.valid) {<span
              >{{ editTimeslotForm.controls.startHours.value?.timevalue }}:{{
                editTimeslotForm.controls.startMinutes.value?.timevalue
              }}
              Uhr</span
            >}
            <div class="timeselector">
              <mat-form-field>
                <mat-label>Stunde</mat-label>
                <mat-select [formControl]="startHours" required>
                  <mat-option>--</mat-option>
                  @for (hour of hours; track hour) {
                  <mat-option [value]="hour">{{ hour.timevalue }}</mat-option>
                  }
                </mat-select>
                @if (startHours.hasError('required')) {
                <mat-error>Bitte Startzeit auswählen</mat-error>
                }
              </mat-form-field>
              <mat-form-field>
                <mat-label>Minute</mat-label>
                <mat-select [formControl]="startMinutes" required>
                  <mat-option>--</mat-option>
                  @for (minute of minutes; track minute) {
                  <mat-option [value]="minute">{{
                    minute.timevalue
                  }}</mat-option>
                  }
                </mat-select>
                @if (startMinutes.hasError('required')) {
                <mat-error>Bitte Startzeit auswählen</mat-error>
                }
              </mat-form-field>
            </div>
          </div>
          <div class="end">
            <span>Endzeit:</span>
            @if (editTimeslotForm.controls.endHours.valid) {<span
              >{{
                editTimeslotForm.controls.endHours.value?.timevalue
              }}
              Uhr</span
            >}
            <div class="timeselector marginR">
              <mat-form-field>
                <mat-label>Ende</mat-label>
                <mat-select [formControl]="endHours" required>
                  <mat-option>--</mat-option>
                  @for (endTime of endTimes; track endTime) {
                  <mat-option [value]="endTime">{{
                    endTime.timevalue
                  }}</mat-option>
                  }
                </mat-select>
                @if (endHours.hasError('required')) {
                <mat-error>Bitte Endzeit auswählen</mat-error>
                }
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>
    </form>

    @if (editTimeslotForm.valid) {
    <div [@addText]="editTimeslotForm.valid" class="starting-times">
      <p [@addText]="editTimeslotForm.valid">
        Hier kannst Du einzelne Termine deaktivieren. Mit Klick auf das
        Pluszeichen erstellst du ein weiteres Zeitfenster.
      </p>
      <div class="timeslot-container">
        @for (time of selectedTimes; track $index ) {
        <button
          *ngIf="!deactivatedTimes.includes(time.timevalue)"
          mat-flat-button
          (click)="deactivateTimeslot(time.timevalue)"
        >
          {{ time.timevalue }}</button
        ><button
          *ngIf="deactivatedTimes.includes(time.timevalue)"
          mat-stroked-button
          (click)="activateTimeslot(time.timevalue)"
        >
          {{ time.timevalue }}</button
        >}
      </div>
      <div class="add-button-container">
        <button class="add-button" mat-button (click)="addAppointmentPeriod()">
          <mat-icon>add</mat-icon>
          weitere hinzufügen
        </button>
      </div>
    </div>

    }
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-flat-button [disabled]="!editTimeslotForm.valid">Anwenden</button
  ><button mat-button (click)="closeDialog($event)">
    Abbrechen
  </button></mat-dialog-actions
>
