.dialog-content {
  margin-bottom: 48px;
  overflow: hidden;

  > form {
    margin-top: 24px;
    > div.interval {
      display: inline block;
      > span:not(:first-child) {
        margin-left: 4px;
        font-weight: 600;
      }

      > div.timeselector {
        margin-top: 4px;
        margin-bottom: 40px;
        display: flex;
        gap: 8px;
        > mat-form-field {
          width: 112px;
        }
      }
    }
    > div.horizontal {
      display: flex;
      gap: 24px;
      overflow: hidden;

      > div {
        display: inline block;
        > span:nth-child(2) {
          margin-left: 4px;
          font-weight: 600;
        }

        > div.timeselector {
          margin-top: 4px;
          margin-bottom: 40px;
          display: flex;
          gap: 8px;
          > mat-form-field {
            width: 112px;
          }
        }
      }
    }
  }
}
