<mat-stepper
  orientation="vertical"
  [linear]="true"
  animationDuration="400"
  #stepper
  ><mat-step [completed]="contactFormCompleted">
    <ng-template matStepLabel>Deine Daten</ng-template>
    <div class="step-inner">
      <app-add-contact-data
        (contactDataValid)="setContactStepValidity($event)"
      ></app-add-contact-data>
    </div>
    <div>
      <button mat-button matStepperNext [disabled]="!contactFormCompleted">
        weiter
      </button>
    </div>
  </mat-step>
  <mat-step [completed]="durationFormCompleted">
    <ng-template matStepLabel>Wähle eine Terminart</ng-template>
    <div class="step-inner">
      <app-choose-duration
        (durationDataValid)="setDurationStepValidity($event)"
      ></app-choose-duration>
    </div>
    <div>
      <button mat-button matStepperNext [disabled]="!durationFormCompleted">
        weiter
      </button>
    </div>
  </mat-step>

  <mat-step [completed]="dateFormCompleted"
    ><ng-template matStepLabel>Wähle Datum und Zeit</ng-template>
    <div class="step-inner">
      <app-choose-date
        [availableDays]="availableDates"
        (newDatepickerEvent)="getTimeslots($event)"
        (newDateValidatorEvent)="checkDateValidity($event)"
      ></app-choose-date>
      @if (dateSelected){
      <app-choose-time
        [availableTimes]="availableTimes"
        (timeChosen)="addTime($event)"
        class="choosetime"
      ></app-choose-time>
      @if (scheduledMeeting.data.time && scheduledMeeting.data.date) {
      <div class="selection-text">
        Du wünschst einen Termin {{ localDate }} um
        {{ scheduledMeeting.data.time }} Uhr.
      </div>
      } }
    </div>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button matStepperNext [disabled]="!dateFormCompleted">
        weiter
      </button>
    </div>
  </mat-step>
  <mat-step [formGroup]="legalCheck">
    <ng-template matStepLabel>Prüfen und Absenden</ng-template>
    <mat-card class="summary"
      ><h3>Bitte kontrolliere deine Eingaben.</h3>
      <p class="user-data">
        Name: {{ scheduledMeeting.data.name }}<br />
        Email: {{ scheduledMeeting.data.email }}<br />
        Datum: {{ localDate }}<br />
        Uhrzeit: {{ scheduledMeeting.data.time }} Uhr
      </p>
      <p>
        <mat-checkbox [formControl]="legalCheck.controls.checked"
          >Ich akzeptiere die Datenschutzbedingungen
        </mat-checkbox>
      </p>
      <div>
        <button mat-button matStepperPrevious>Zurück</button>
        <button
          mat-flat-button
          color="primary"
          [disabled]="!legalCheck.controls.checked.value"
          (click)="submitData()"
        >
          Abschicken
        </button>
      </div></mat-card
    >
  </mat-step>
</mat-stepper>
