<mat-stepper
  orientation="vertical"
  [linear]="true"
  animationDuration="400"
  #stepper
>
  <mat-step [completed]="durationFormCompleted">
    <ng-template matStepLabel>Wähle eine Terminart</ng-template>
    <div class="step-inner">
      <app-choose-duration
        (durationDataValid)="setDurationStepValidity($event)"
      ></app-choose-duration>
    </div>
    <div>
      <button mat-button matStepperNext [disabled]="!contactFormCompleted">
        weiter
      </button>
    </div>
  </mat-step>

  <mat-step [completed]="contactFormCompleted">
    <ng-template matStepLabel>Dein Daten</ng-template>
    <div class="step-inner">
      <app-add-contact-data
        (contactDataValid)="setContactStepValidity($event)"
      ></app-add-contact-data>
    </div>
    <div>
      <button mat-button matStepperNext [disabled]="!contactFormCompleted">
        Next
      </button>
    </div>
  </mat-step>

  <mat-step [completed]="dateFormCompleted"
    ><ng-template matStepLabel>Wähle Datum und Zeit</ng-template>
    <div class="step-inner">
      <app-choose-date
        (newDatepickerEvent)="getTimeslots($event)"
        (newDateValidatorEvent)="checkDateValidity($event)"
      ></app-choose-date>
      @if (dateSelected){
      <app-choose-time
        (timeChosen)="addTime($event)"
        class="choosetime"
      ></app-choose-time>
      @if (scheduledMeeting.data.time && scheduledMeeting.data.date) {
      <div>
        Du wünschst einen Termin {{ localDate }} um
        {{ scheduledMeeting.data.time }} Uhr.
      </div>
      } }
    </div>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button matStepperNext [disabled]="!dateFormCompleted">
        Next
      </button>
    </div>
  </mat-step>
  <mat-step [formGroup]="legalCheck">
    <ng-template matStepLabel>Prüfen und Absenden</ng-template>
    <mat-card class="summary"
      ><h3>Bitte kontrolliere deine Eingaben.</h3>
      <mat-list role="list">
        <mat-list-item role="listitem"
          >Name: <span>{{ scheduledMeeting.data.name }}</span></mat-list-item
        >
        <mat-list-item role="listitem"
          >Email: <span>{{ scheduledMeeting.data.email }}</span></mat-list-item
        >
        <mat-list-item role="listitem"
          >Datum: <span>{{ localDate }}</span></mat-list-item
        >
        <mat-list-item role="listitem"
          >Uhrzeit:
          <span>{{ scheduledMeeting.data.time }} Uhr</span></mat-list-item
        >
      </mat-list>

      <p>
        <mat-checkbox [formControl]="legalCheck.controls.checked"
          >Ich akzeptiere die Datenschutzbedingungen
        </mat-checkbox>
      </p>
      <div>
        <button mat-button matStepperPrevious>Zurück</button>
        <button
          mat-flat-button
          color="primary"
          [disabled]="!legalCheck.controls.checked.value"
          (click)="submitData()"
        >
          Abschicken
        </button>
      </div></mat-card
    >
  </mat-step>
</mat-stepper>
