.cc-header {
  padding: 0 8px 8px 8px;
  > div {
    display: flex;
    justify-content: center;
  }
}

h2 {
  font-weight: 600;
  font-size: 1.375rem;
  font-family: "Source Sans 3", "Helvetica Neue", sans-serif;
  color: rgba(0, 0, 0, 0.7);
}
