.formfield {
  padding-left: 0;
  padding-right: 0;
  min-width: 360px;
  display: flex;
  flex-direction: column;
  div {
    display: flex;
    gap: 12px;
    mat-form-field {
      width: 100%;
      flex: 1;
    }
  }
  button {
    border: none;
    background-color: transparent;
    width: 40px;
    height: 40px;
    margin-right: 8px;
    border-radius: 100px;
    &:hover {
      cursor: pointer;
      background-color: rgba(100, 100, 100, 0.1);
    }
  }
}

.signup-btn {
  width: 100%;
  min-width: 164px;
}

.mat-mdc-dialog-actions {
  padding-left: 0;
  padding-right: 0;
}

.loginlink {
  margin-top: 8px;
  margin-bottom: 12px;
  display: flex;
  justify-content: center;
  font-size: 14px;
  line-height: 28px;
}

.authservice {
  margin-top: 24px;
  display: flex;
  justify-content: space-between;
  gap: 12px;
}

.login-error {
  padding: 16px;
  font-size: 18px;
  color: var(--mat-form-field-error-text-color);
  border: 1px solid var(--mat-form-field-error-text-color);
}

@media (max-width: 450px) {
  .formfield {
    min-width: 0;
    width: 320px;
  }
  .signup-btn {
    min-width: 0;
  }

  .wide {
    display: none;
  }
}
