.spacer {
  height: 4px;
  width: 4px;
}

.outer {
  margin: 64px;
  margin-top: 64px;
  position: relative;
}

.formfield {
  padding-left: 0;
  padding-right: 0;
  display: flex;
  flex-direction: column;
  div {
    display: flex;
    gap: 12px;
    mat-form-field {
      width: 100%;
    }
  }
  .password-help {
    flex-direction: column;
    gap: 0;

    margin-bottom: 12px;
    margin-left: 16px;
    margin-right: 16px;

    p {
      margin: 0;
      font-size: 12px;
      line-height: 17px;
    }
  }

  .text-gone {
    display: none;
  }
  .error-color {
    color: var(--mat-form-field-error-text-color, var(--mat-app-error));
  }
  button {
    border: none;
    background-color: transparent;
    width: 40px;
    height: 40px;
    margin-right: 8px;
    border-radius: 100px;
    &:hover {
      cursor: pointer;
      background-color: rgba(100, 100, 100, 0.1);
    }
  }
}

.button-row {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 4px;
}

.mat-mdc-dialog-actions {
  padding-left: 0;
  padding-right: 0;
}
