div.outer {
  margin: 32px;
  width: 380px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  h2 {
    margin: 0;
  }
  .date {
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 8px;
    margin-top: 12px;
  }
  .single-date-container {
    display: flex;
    flex-direction: column;
    > div {
      margin: 0;
      display: flex;
      align-items: start;
      gap: 32px;
      > div {
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: start;
      }
    }
  }
  .message-form {
    display: flex;
    flex-direction: column;
    margin: 0;
    gap: 8px;
    .message-full {
      height: 200px;
    }
  }
  .button-row {
    margin-top: 16px;
    display: flex;
    justify-content: flex-end;
    gap: 8px;
    float: right;
  }
}
