p {
  line-height: 137%;
}

.linktext {
  font-size: 20px;
  margin-bottom: 20px;
  margin-right: 4px;
}

.mat-headline {
  font-size: 20px;
}

.linkrow {
  display: flex;
  align-items: center;
  > .buttons {
    display: flex;
    gap: 4px;
    margin-bottom: 20px;
    margin-left: 32px;
  }
}
