<div>
  <button
    class="close"
    mat-icon-button
    aria-label="close dialog button"
    (click)="closeDialog()"
  >
    <mat-icon>close</mat-icon>
  </button>
</div>
<span class="logo">Cyla</span>

<div
  #panes
  [@paneChange]="{
    value: data.state === 'sign-up',
    params: {
      startHeight: panes.clientHeight,
      startWidth: panes.clientWidth
    }
  }"
  class="panes"
>
  <app-login *ngIf="data.state === 'login'"></app-login>
  <app-signup
    *ngIf="data.state === 'sign-up'"
    (changeDialog)="changeDialogState($event)"
  ></app-signup>
</div>
