.container {
  min-height: calc(100vh - 64px);
  width: 100%;
  display: flex;
  justify-content: center;
}

.content {
  max-width: 1440px;
  margin-left: 80px;
  margin-right: 80px;
  margin-top: 12px;
  flex: 1;
  display: flex;
  justify-content: center;
}

.inner {
  margin-top: 16px;
  width: 100%;
}

.user-data {
  max-width: 640px;
  & .pw-reset {
    margin-left: -12px;
    margin-top: 8px;
  }
  & .data-container {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-top: 4px;
    margin-bottom: 4px;
    > button {
      opacity: 0;
      transition: opacity 200ms ease-in-out;
    }
    &:hover {
      cursor: pointer;
      > button {
        opacity: 1;
      }
    }
  }
}

.delete-btn {
  margin-top: 32px;
}
