<div class="container">
  <div class="content">
    <div class="inner">
      <button mat-button routerLink="../overview">
        <mat-icon>chevron_left</mat-icon>zurück zur Übersicht
      </button>
      <h2>Dein Konto</h2>
      @let user = auth.user$ | async; @let accountData = userData$ | async; @if
      (user && accountData) {
      <div class="user-data">
        <mat-list>
          <mat-list-item>
            <div class="data-container">
              {{ accountData["firstname"] }} {{ accountData["lastname"] }}
              <button
                mat-icon-button
                aria-label="Name ändern"
                (click)="editData('name')"
              >
                <mat-icon>edit</mat-icon>
              </button>
            </div>
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item
            ><div class="data-container">
              {{ user.email }}
              <button
                mat-icon-button
                aria-label="Email ändern"
                (click)="editData('email')"
              >
                <mat-icon>edit</mat-icon>
              </button>
            </div></mat-list-item
          >
          <mat-divider></mat-divider>
          <mat-list-item
            ><div class="data-container">
              {{ accountData["publiclink"] }}
              <button
                mat-icon-button
                aria-label="öffentlichen Link ändern"
                (click)="changePublicLink()"
              >
                <mat-icon>edit</mat-icon>
              </button>
            </div></mat-list-item
          >
          <mat-divider></mat-divider>
          <mat-list-item class="pw-reset"
            ><button mat-button>Passwort zurücksetzen</button></mat-list-item
          >
        </mat-list>
      </div>

      <button mat-stroked-button class="delete-btn" color="warn">
        Konto löschen
      </button>
      }
    </div>
  </div>
</div>
