<div class="outer">
  <div class="inner">
    <form action="" [formGroup]="formData">
      <mat-dialog-content class="formfield">
        <div>
          <mat-form-field>
            <mat-label>Vorname</mat-label>
            <input
              matInput
              placeholder="First Name"
              [formControl]="formData.controls.firstname"
              (blur)="updateErrorMessage('firstname')"
              required
              [disabled]="loading"
            />
            @if (formData.controls.firstname.invalid) {
            <mat-error>{{ errorMessage.firstname }}</mat-error>
            } </mat-form-field
          ><mat-form-field>
            <mat-label>Nachname</mat-label>
            <input
              matInput
              placeholder="Last Name"
              [formControl]="formData.controls.lastname"
              (blur)="updateErrorMessage('lastname')"
              required
              [disabled]="loading"
            />
            @if (formData.controls.lastname.invalid) {
            <mat-error>{{ errorMessage.lastname }}</mat-error>
            }
          </mat-form-field>
        </div>
        <mat-form-field>
          <mat-label>E-Mail-Adresse</mat-label>
          <input
            matInput
            placeholder="pat@example.com"
            autocomplete="email"
            [formControl]="formData.controls.email"
            (blur)="updateErrorMessage('email')"
            required
            [disabled]="loading"
          />
          @if (formData.controls.email.invalid) {
          <mat-error>{{ errorMessage.email }}</mat-error>
          }
        </mat-form-field>
        <mat-form-field>
          <mat-label>Passwort</mat-label>
          <input
            matInput
            type="password"
            autocomplete="new-password"
            name="password"
            [type]="hide() ? 'password' : 'text'"
            [formControl]="formData.controls.password"
            (blur)="updateErrorMessage('password')"
            required
            [disabled]="loading"
          />
          <button
            mat-icon-button
            matSuffix
            (click)="clickEvent($event)"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide()"
          >
            <mat-icon>{{ hide() ? "visibility_off" : "visibility" }}</mat-icon>
          </button>
          @if (formData.controls.password.invalid) {
          <mat-error>{{ errorMessage.password }}</mat-error>
          }
        </mat-form-field>
        @if (formData.controls.password.dirty) {
        <div class="password-help">
          <p
            [ngClass]="{
              'text-gone':
                formData.controls.password.value?.match('^(?=.*[A-Z])'),
              'error-color':
                formData.controls.password.hasError('pattern') &&
                formData.controls.password.touched
            }"
          >
            Mindestens einen Großbuchstaben.
          </p>

          <p
            [ngClass]="{
              'text-gone':
                formData.controls.password.value?.match('(?=.*[a-z])'),
              'error-color':
                formData.controls.password.hasError('pattern') &&
                formData.controls.password.touched
            }"
          >
            Mindestens einen Kleinbuchstaben.
          </p>
          <p
            [ngClass]="{
              'text-gone':
                formData.controls.password.value?.match('(.*[0-9].*)'),
              'error-color':
                formData.controls.password.hasError('pattern') &&
                formData.controls.password.touched
            }"
          >
            Mindestens eine Zahl.
          </p>
          <p
            [ngClass]="{
              'text-gone':
                formData.controls.password.value?.match('(?=.*[!@#$%^&*])'),
              'error-color':
                formData.controls.password.hasError('pattern') &&
                formData.controls.password.touched
            }"
          >
            Mindestens ein Sonderzeichen.
          </p>
          <p
            [ngClass]="{
              'text-gone': formData.controls.password.value?.match('.{8,}'),
              'error-color':
                formData.controls.password.hasError('pattern') &&
                formData.controls.password.touched
            }"
          >
            Mindestens 8 Zeichen lang.
          </p>
        </div>
        }
        <mat-form-field>
          <mat-label>Wiederhole dein Passwort</mat-label>
          <input
            matInput
            [type]="hide() ? 'password' : 'text'"
            [formControl]="formData.controls.repeatpw"
            autocomplete="new-password"
            (input)="checkEqual()"
            [disabled]="loading"
          />
          <button
            mat-icon-button
            matSuffix
            (click)="clickEvent($event)"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide()"
          >
            <mat-icon>{{ hide() ? "visibility_off" : "visibility" }}</mat-icon>
          </button>
          @if (formData.controls.repeatpw.invalid) {
          <mat-error>{{ errorMessage.repeatpw }}</mat-error
          >}
        </mat-form-field>
      </mat-dialog-content>
      <mat-checkbox
        (change)="getCheckState($event.checked)"
        [disabled]="loading"
        >Ich akzeptiere die
        <a (click)="closeDialog()" [routerLink]="['/datenschutz']"
          >Datenschutzerklärung</a
        >
        und stimme der Verwendung von
        <a (click)="closeDialog()" [routerLink]="['/cookies']">Cookies</a>
        zu</mat-checkbox
      >
      <div>
        <mat-dialog-actions>
          <button
            mat-flat-button
            color="primary"
            type="submit"
            class="signup-btn"
            [disabled]="formData.invalid || !ppChecked || loading"
            (click)="registerUser()"
          >
            {{ loading ? "Gesendet" : "Registieren" }}
          </button>
        </mat-dialog-actions>
      </div>
    </form>

    <div class="loginlink">
      <span>Du hast bereits ein Konto?&nbsp;</span
      ><a (click)="openLogin()">Melde dich hier an</a>
    </div>
  </div>
</div>
