.dark-medium-contrast {
  --md-sys-color-primary: rgb(169 229 255);
  --md-sys-color-surface-tint: rgb(137 208 238);
  --md-sys-color-on-primary: rgb(0 42 54);
  --md-sys-color-primary-container: rgb(81 154 181);
  --md-sys-color-on-primary-container: rgb(0 0 0);
  --md-sys-color-secondary: rgb(201 224 235);
  --md-sys-color-on-secondary: rgb(19 40 49);
  --md-sys-color-secondary-container: rgb(126 148 158);
  --md-sys-color-on-secondary-container: rgb(0 0 0);
  --md-sys-color-tertiary: rgb(152 236 221);
  --md-sys-color-on-tertiary: rgb(0 43 38);
  --md-sys-color-tertiary-container: rgb(74 158 146);
  --md-sys-color-on-tertiary-container: rgb(0 0 0);
  --md-sys-color-error: rgb(255 210 204);
  --md-sys-color-on-error: rgb(84 0 3);
  --md-sys-color-error-container: rgb(255 84 73);
  --md-sys-color-on-error-container: rgb(0 0 0);
  --md-sys-color-background: rgb(15 20 23);
  --md-sys-color-on-background: rgb(222 227 230);
  --md-sys-color-surface: rgb(24 18 12);
  --md-sys-color-on-surface: rgb(255 255 255);
  --md-sys-color-surface-variant: rgb(64 72 76);
  --md-sys-color-on-surface-variant: rgb(213 221 226);
  --md-sys-color-outline: rgb(171 179 184);
  --md-sys-color-outline-variant: rgb(137 146 150);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(238 224 213);
  --md-sys-color-inverse-on-surface: rgb(48 41 33);
  --md-sys-color-inverse-primary: rgb(0 79 100);
  --md-sys-color-primary-fixed: rgb(186 234 255);
  --md-sys-color-on-primary-fixed: rgb(0 20 27);
  --md-sys-color-primary-fixed-dim: rgb(137 208 238);
  --md-sys-color-on-primary-fixed-variant: rgb(0 59 76);
  --md-sys-color-secondary-fixed: rgb(207 230 241);
  --md-sys-color-on-secondary-fixed: rgb(0 20 27);
  --md-sys-color-secondary-fixed-dim: rgb(179 202 213);
  --md-sys-color-on-secondary-fixed-variant: rgb(36 57 66);
  --md-sys-color-tertiary-fixed: rgb(158 242 227);
  --md-sys-color-on-tertiary-fixed: rgb(0 21 17);
  --md-sys-color-tertiary-fixed-dim: rgb(130 213 199);
  --md-sys-color-on-tertiary-fixed-variant: rgb(0 62 55);
  --md-sys-color-surface-dim: rgb(24 18 12);
  --md-sys-color-surface-bright: rgb(75 67 59);
  --md-sys-color-surface-container-lowest: rgb(11 7 3);
  --md-sys-color-surface-container-low: rgb(35 28 21);
  --md-sys-color-surface-container: rgb(46 39 31);
  --md-sys-color-surface-container-high: rgb(57 49 41);
  --md-sys-color-surface-container-highest: rgb(68 60 52);
}
