:root {
  --mat-sys-primary: rgb(0, 102, 134);
  --mat-sys-surface-tint: #c8c6c6;
  --mat-sys-on-primary: #ffffff;
  --mat-sys-primary-container: #00769b;
  --mat-sys-on-primary-container: #ffffff;
  --mat-sys-secondary: #2f4855;
  --mat-sys-on-secondary: #ffffff;
  --mat-sys-secondary-container: #2f4855;
  --mat-sys-on-secondary-container: #c6e1f1;
  --mat-sys-tertiary: #423236;
  --mat-sys-on-tertiary: #ffffff;
  --mat-sys-tertiary-container: #7b686d;
  --mat-sys-on-tertiary-container: #ffffff;
  --mat-sys-error: rgb(186 26 26);
  --mat-sys-on-error: rgb(255 255 255);
  --mat-sys-error-container: #cf2c27;
  --mat-sys-on-error-container: #ffffff;
  --mat-sys-background: rgb(251, 249, 248);
  --mat-sys-on-background: rgb(24 28 31);
  --mat-sys-surface: #fbf9f8;
  --mat-sys-on-surface: #111111;
  --mat-sys-surface-variant: rgb(218 228 235);
  --mat-sys-on-surface-variant: rgb(63 72 78);
  --mat-sys-outline: rgb(111 120 126);
  --mat-sys-outline-variant: rgb(190 200 206);
  --mat-sys-shadow: rgb(0 0 0);
  --mat-sys-scrim: rgb(0 0 0);
  --mat-sys-inverse-surface: #303030;
  --mat-sys-inverse-on-surface: #f3f0f0;
  --mat-sys-inverse-primary: #7ad1fb;
  --mat-sys-primary-fixed: rgb(192 232 255);
  --mat-sys-on-primary-fixed: rgb(0 30 43);
  --mat-sys-primary-fixed-dim: rgb(122 209 251);
  --mat-sys-on-primary-fixed-variant: rgb(0 77 102);
  --mat-sys-secondary-fixed: rgb(204 230 247);
  --mat-sys-on-secondary-fixed: rgb(2 30 42);
  --mat-sys-secondary-fixed-dim: rgb(176 202 218);
  --mat-sys-on-secondary-fixed-variant: rgb(49 74 87);
  --mat-sys-tertiary-fixed: rgb(245 220 225);
  --mat-sys-on-tertiary-fixed: rgb(37 24 28);
  --mat-sys-tertiary-fixed-dim: rgb(216 193 198);
  --mat-sys-on-tertiary-fixed-variant: rgb(83 66 71);
  --mat-sys-surface-dim: #c8c6c6;
  --mat-sys-surface-bright: #fbf9f8;
  --mat-sys-surface-container-lowest: #ffffff;
  --mat-sys-surface-container-low: #f6f3f2;
  --mat-sys-surface-container: #eae7e7;
  --mat-sys-surface-container-high: #dfdcdc;
  --mat-sys-surface-container-highest: #d3d1d1;
  --mat-sys-neutral10: #a2adb0;
  --mat-sys-neutral-variant20: #8b9296;
  --mdc-outlined-card-container-color: rgb(218 228 235);
  --mat-expansion-container-background-color: rgb(218 228 235);
}
