.light-medium-contrast {
  --md-sys-color-primary: rgb(0 59 76);
  --md-sys-color-surface-tint: rgb(13 102 128);
  --md-sys-color-on-primary: rgb(255 255 255);
  --md-sys-color-primary-container: rgb(39 117 144);
  --md-sys-color-on-primary-container: rgb(255 255 255);
  --md-sys-color-secondary: rgb(36 57 66);
  --md-sys-color-on-secondary: rgb(255 255 255);
  --md-sys-color-secondary-container: rgb(91 112 122);
  --md-sys-color-on-secondary-container: rgb(255 255 255);
  --md-sys-color-tertiary: rgb(0 62 55);
  --md-sys-color-on-tertiary: rgb(255 255 255);
  --md-sys-color-tertiary-container: rgb(30 122 110);
  --md-sys-color-on-tertiary-container: rgb(255 255 255);
  --md-sys-color-error: rgb(116 0 6);
  --md-sys-color-on-error: rgb(255 255 255);
  --md-sys-color-error-container: rgb(207 44 39);
  --md-sys-color-on-error-container: rgb(255 255 255);
  --md-sys-color-background: rgb(245 250 253);
  --md-sys-color-on-background: rgb(23 28 31);
  --md-sys-color-surface: rgb(255 248 244);
  --md-sys-color-on-surface: rgb(22 16 10);
  --md-sys-color-surface-variant: rgb(220 228 232);
  --md-sys-color-on-surface-variant: rgb(47 55 59);
  --md-sys-color-outline: rgb(76 84 88);
  --md-sys-color-outline-variant: rgb(102 110 114);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(55 47 39);
  --md-sys-color-inverse-on-surface: rgb(252 238 226);
  --md-sys-color-inverse-primary: rgb(137 208 238);
  --md-sys-color-primary-fixed: rgb(39 117 144);
  --md-sys-color-on-primary-fixed: rgb(255 255 255);
  --md-sys-color-primary-fixed-dim: rgb(0 92 117);
  --md-sys-color-on-primary-fixed-variant: rgb(255 255 255);
  --md-sys-color-secondary-fixed: rgb(91 112 122);
  --md-sys-color-on-secondary-fixed: rgb(255 255 255);
  --md-sys-color-secondary-fixed-dim: rgb(67 88 97);
  --md-sys-color-on-secondary-fixed-variant: rgb(255 255 255);
  --md-sys-color-tertiary-fixed: rgb(30 122 110);
  --md-sys-color-on-tertiary-fixed: rgb(255 255 255);
  --md-sys-color-tertiary-fixed-dim: rgb(0 96 86);
  --md-sys-color-on-tertiary-fixed-variant: rgb(255 255 255);
  --md-sys-color-surface-dim: rgb(209 196 185);
  --md-sys-color-surface-bright: rgb(255 248 244);
  --md-sys-color-surface-container-lowest: rgb(255 255 255);
  --md-sys-color-surface-container-low: rgb(255 241 230);
  --md-sys-color-surface-container: rgb(244 230 218);
  --md-sys-color-surface-container-high: rgb(232 219 207);
  --md-sys-color-surface-container-highest: rgb(221 207 196);
}
